// paper & background
$paper: #ffffff;

// primary
$primaryLight: rgb(253, 231, 232);
$primaryMain: rgb(237, 27, 36);
$primaryDark: rgb(118, 10, 15);
$primary200: rgb(237, 27, 36, 0.2);
$primary800: rgb(237, 27, 36, 0.8);

// secondary
$secondaryLight: rgb(255, 230, 242);
$secondaryMain: rgb(204, 0, 102);
$secondaryDark: rgb(128, 0, 64);
$secondary200: rgb(204, 0, 102, 0.2);
$secondary800: rgb(204, 0, 102, 0.8);

// info
$infoLight: rgb(238, 242, 246);
$infoMain: rgb(61, 68, 101);
$infoDark: rgb(38, 43, 64);
$info200: rgb(61, 68, 101, 0.2);
$info800: rgb(61, 68, 101, 0.8);

// success Colors
$successLight: #b9f6ca;
$success200: #69f0ae;
$successMain: #00e676;
$successDark: #00c853;

// error
$errorLight: #ef9a9a;
$errorMain: #f44336;
$errorDark: #c62828;

// orange
$orangeLight: rgb(255,219,193);
$orangeMain: rgb(255,136,51);
$orangeDark: rgb(153,81,30);
$orange200: rgb(255,136,51, 0.2);
$orange800: rgb(255,136,51, 0.8);

// blue
$blueLight: rgb(209,224,255);
$blueMain: rgb(102,152,255);
$blueDark: rgb(40,60,102);
$blue200: rgb(102,152,255, 0.2);
$blue800: rgb(102,152,255, 0.8);

// warning
$warningLight: #fff8e1;
$warningMain: #f7b500;
$warningDark: #ffaa63;

// grey
$grey50: #F8FAFC;
$grey100: #EEF2F6;
$grey200: #E3E8EF;
$grey300: #CDD5DF;
$grey500: #697586;
$grey600: #4B5565;
$grey700: #364152;
$grey900: #121926;

// green
$greenLight: rgb(212,243,225);
$green200: rgb(0,230,118, 0.2);
$green800: rgb(0,230,118, 0.8);
$greenMain: rgb(0,230,118);
$greenDark: rgb(16,79,42);

// ==============================|| DARK THEME VARIANTS ||============================== //

// paper & background
$darkBackground: #1a223f; // level 3
$darkPaper: #111936; // level 4

// dark 800 & 900
$darkLevel1: #29314f; // level 1
$darkLevel2: #212946; // level 2

// primary dark
$darkPrimaryLight: rgb(253, 231, 232);
$darkPrimaryMain: rgb(237, 27, 36);
$darkPrimaryDark: rgb(118, 10, 15);
$darkPrimary200: rgb(237, 27, 36, 0.2);
$darkPrimary800: rgb(237, 27, 36, 0.8);

// secondary dark
$darkSecondaryLight: rgb(255, 230, 242);
$darkSecondaryMain: rgb(204, 0, 102);
$darkSecondaryDark: rgb(128, 0, 64);
$darkSecondary200: rgb(204, 0, 102, 0.2);
$darkSecondary800: rgb(204, 0, 102, 0.8);

// info
$darkInfoLight: rgb(241, 242, 244);
$darkInfoMain: rgb(211, 214, 219);
$darkInfoDark: rgb(103, 112, 126);
$darkInfo200: rgb(211, 214, 219, 0.2);
$darkInfo800: rgb(211, 214, 219, 0.8);

// text variants
$darkTextTitle: #d7dcec;
$darkTextPrimary: #bdc8f0;
$darkTextSecondary: #8492c4;

// ==============================|| JAVASCRIPT ||============================== //

:export {
  // paper & background
  paper: $paper;

  // primary
  primaryLight: $primaryLight;
  primary200: $primary200;
  primaryMain: $primaryMain;
  primaryDark: $primaryDark;
  primary800: $primary800;

  // secondary
  secondaryLight: $secondaryLight;
  secondary200: $secondary200;
  secondaryMain: $secondaryMain;
  secondaryDark: $secondaryDark;
  secondary800: $secondary800;

  // indo
  infoLight: $infoLight;
  info200: $info200;
  infoMain: $infoMain;
  infoDark: $infoDark;
  info800: $info800;

  // success
  successLight: $successLight;
  success200: $success200;
  successMain: $successMain;
  successDark: $successDark;

  // error
  errorLight: $errorLight;
  errorMain: $errorMain;
  errorDark: $errorDark;

  // orange
  orangeLight: $orangeLight;
  orangeMain: $orangeMain;
  orangeDark: $orangeDark;
  orange200: $orange200;
  orange800: $orange800;

  // blue
  blueLight: $blueLight;
  blueMain: $blueMain;
  blueDark: $blueDark;
  blue200: $blue200;
  blue800: $blue800;

  // warning
  warningLight: $warningLight;
  warningMain: $warningMain;
  warningDark: $warningDark;

  // grey
  grey50: $grey50;
  grey100: $grey100;
  grey200: $grey200;
  grey300: $grey300;
  grey500: $grey500;
  grey600: $grey600;
  grey700: $grey700;
  grey900: $grey900;

  //green
  greenLight: $greenLight;
  green200: $green200;
  greenMain: $greenMain;
  greenDark: $greenDark;
  green800: $green800;

  // ==============================|| DARK THEME VARIANTS ||============================== //

  // paper & background
  darkPaper: $darkPaper;
  darkBackground: $darkBackground;

  // dark 800 & 900
  darkLevel1: $darkLevel1;
  darkLevel2: $darkLevel2;

  // text variants
  darkTextTitle: $darkTextTitle;
  darkTextPrimary: $darkTextPrimary;
  darkTextSecondary: $darkTextSecondary;

  // primary dark
  darkPrimaryLight: $darkPrimaryLight;
  darkPrimaryMain: $darkPrimaryMain;
  darkPrimaryDark: $darkPrimaryDark;
  darkPrimary200: $darkPrimary200;
  darkPrimary800: $darkPrimary800;

  // secondary dark
  darkSecondaryLight: $darkSecondaryLight;
  darkSecondaryMain: $darkSecondaryMain;
  darkSecondaryDark: $darkSecondaryDark;
  darkSecondary200: $darkSecondary200;
  darkSecondary800: $darkSecondary800;

  // info dark
  darkInfoLight: $darkInfoLight;
  darkInfoMain: $darkInfoMain;
  darkInfoDark: $darkInfoDark;
  darkInfo200: $darkInfo200;
  darkInfo800: $darkInfo800;
}
